.title-base-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.content-base-filter {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
