<div class="card">
  <div class="title-base-filter p-2">
    <div class="text-large text-color-primary text-bold">{{ titlePage }}</div>
    <div checkPermission [role]="role">
      <app-flat-button
        [label]="textButton"
        color="primary"
        icon="add"
        (click)="created()"
      ></app-flat-button>
    </div>
  </div>
  <div class="content-base-filter">
    <ng-content select="[content]"></ng-content>
  </div>

  <div class="content-center p-2">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
