<div class="content-products">
  <div class="card mat-elevation-z3">
    <div class="body-card">
      <div class="title-card">
        <div class="row">
          <div class="col">LISTA DE PRODUCTOS</div>
        </div>
      </div>
      <div class="content-card p-3">
        <div class="mb-2">
          <app-base-filters 
          [titlePage]="'Filtros'"
          (onClick)="showDialogCreateOrUpdateProduct()"
          >
            <div content>
              <form [formGroup]="form">
                <div class="col">
                  <app-input-form
                    [form]="form"
                    [controlName]="keyFormNameProduct"
                    [label]="'Nombre del producto'"
                    [placeholder]="'Nombre del producto'"
                  ></app-input-form>
                </div>
              </form>
            </div>

            <div footer>
              <div class="d-flex">
                <app-stroked-button
                  label="Limpiar"
                  class="me-2"
                  (click)="resetForm()"
                ></app-stroked-button>
                <app-flat-button
                  label="Buscar"
                  (click)="getListProducts()"
                ></app-flat-button>
              </div>
            </div>
          </app-base-filters>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 mb-3"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex flex-column">
                <div>{{ element.category.name }}</div>
                <div>{{ element.category.description }}</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">
                <app-icon
                  class="pointer"
                  image="/assets/font-awasome-icons/edit.svg"
                  color="primary-color"
                  matTooltip="Editar producto"
                  (click)="showDialogCreateOrUpdateProduct(element.id)"
                ></app-icon>

                <app-icon
                  class="pointer ms-2"
                  image="/assets/font-awasome-icons/trash-solid.svg"
                  color="tertiary-color"
                  matTooltip="Eliminar producto"
                ></app-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="content-end">
          <app-paginator
            [totalItems]="totalItems"
            [pageSize]="limit"
            [currentPage]="page"
            [maxVisiblePages]="5"
            (pageChange)="onPageChange($event)"
          >
          </app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
