<form [formGroup]="form">
    <mat-form-field class="w-100" [appearance]="appearance">
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        [type]="type"
        [placeholder]="placeholder"
        [formControlName]="controlName"
        (input)="emitValue()"
        (keypress)="onKeyPress($event)"
      />
      <mat-error *ngFor="let validation of validationMessages">
        <span *ngIf="hasFormError(controlName, validation.type)">
          {{ validation.message }}
        </span>
      </mat-error>
    </mat-form-field>
</form>
