<app-base-dialog titleDialog="Actualizar contraseña">
  <div content>
    <div class="mb-3">
        <div class="user-info-card">
            <div class="text text-bold">Datos del usuario</div>
            <div class="d-flex">
                 <div class="text-small text-gray text-bold">Nombre:</div>
                 <div class="text-small text-gray text-bold ms-1">{{ dataUser?.name ?? 'Desconocido' }}</div>
            </div>
            <div class="d-flex">
                 <div class="text-small text-gray text-bold">Correo:</div>
                 <div class="text-small text-gray text-bold ms-1">{{ dataUser?.email ?? 'Desconocido' }}</div>
            </div>
        </div>
    </div>
    <form [formGroup]="form">
      <div class="col">
        <app-input-form
          [form]="form"
          [controlName]="keyFormNewPassword"
          label="Nueva contraseña"
          placeholder="Nueva contraseña"
          type="password"
        ></app-input-form>
      </div>
    </form>
  </div>
  <div footer>
    <app-flat-button label="Actualizar" (click)="onSubmitForm()"></app-flat-button>
  </div>
</app-base-dialog>
